<%- include ('templates/header'); -%>

<div class="container">
    <h2 style='color: red;'> Sorry, Page not found!</h2>
    <br>
    
    <button type="button" class="btn btn-success" onclick='location.href="/";'>Return to Login</button>
</div>

<%- include ('templates/footer'); -%>