            <div class = 'footer'>
                <hr>
                <center>
                    <h6>by Ethan Herndon, Claudio Vertemara, & Mustafa Memon 2020</h6>
                </center>
            </div>
        </div>
    </body>
</html>