<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type ="text/css" href="/styles/styles.css">
        <script type="text/javascript" src="js/app.js"></script>
        
        <div class="bgimgcontainer">
            <img src="/img/Spin7.png" alt="spin7" style="width:150px;height:150px;">
            <right>
            <img src="/img/csumb logo.png" alt="csumb" ALIGN= "right" style="width:150px;height:100px;">
            </right>
            <center>
            <h1 class = "title">Spin Scooters at CSU Monterey Bay</h1>
            </center>
           
        </div>
        <title>Final Project</title>

    </head>
    <body>
        <div class="jumbotron">
            <header>
                <!--<center>-->
                <!--    <h1 class = "title">Final Project</h1>-->
                <!--</center>-->
            </header>
